node_modules/
dist/
.DS_Store
*.log
.env
.env.local
server/uploads/assets/*
!server/uploads/assets/.gitkeep
server/uploads/documents/*
!server/uploads/documents/.gitkeep
server/uploads/organizations/*
!server/uploads/organizations/.gitkeep
